.mixin.out/*
crash-reports/*
defaultconfigs/*
downloads/*
logs/*
saves/*
schematics/*
screenshots/*
shaderpacks/*
renders/*
changelog.txt
ds_private_storage.json
minecraftinstance.json
options.txt
options-default.txt
servers.dat
servers.dat_old
usercache.json
usernamecache.json
